<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <components>

    <!--数据库帮助类-->
    <component id="Equal_CRUD_DaoHelper" service="Equal.CRUD.IDao.IDaoHelper, Equal.CRUD" type="#{daoHelperImpl}"></component>
    <!--KeyValue-->
    <component id="KeyValueDao" service="Model.IDao.IKeyValueDao, Model" type="Model.Dao.KeyValueDao, Model"></component>
    <!--<component id="KeyValueSvc" type="Model.Svc.KeyValueSvc, Model"></component>-->
    <!--KeyValue-->
    <component id="ArticleInfoDao" service="Model.IDao.IArticleInfoDao, Model" type="Model.Dao.ArticleInfoDao, Model"></component>
    <!--KeyValue-->
    <component id="HomePageInfoDao" service="Model.IDao.IHomePageInfoDao, Model" type="Model.Dao.HomePageInfoDao, Model"></component>
  </components>

</configuration>