<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    </configSections>
  
  <castle>
    <include uri="file://Castle.Properties.config"/>
    <include uri="file://Castle.Facilities.config"/>
    <include uri="file://Castle.Services.Model.config"/>
  </castle>
  
 <system.diagnostics>
    <trace autoflush="true">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="APP_NAME" value="DigiWeb"/>
    <add key="CKeditor:BasePath" value="~/resources/ckeditor-4.7.2" />
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpHandlers>
    </httpHandlers>
    <!--maxRequestLength默认值4096=4M，改为2G-->
    <!--executionTimeout默认值110秒，改为10分钟-->
    <httpRuntime maxRequestLength="2097152" executionTimeout="1200" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms timeout="44640"/>
    </authentication>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET" />
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
    </handlers>
  </system.webServer>
</configuration>
