<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <components>

    <!--数据库帮助类-->
    <component id="Equal_CRUD_DaoHelper" service="Equal.CRUD.IDao.IDaoHelper, Equal.CRUD" type="#{daoHelperImpl}"></component>
    <!--LoginUser-->
    <component id="Equal_Login_LoginUserDao" service="Equal.Login.IDao.ILoginUserDao, Equal.Login" type="Equal.Login.Dao.LoginUserDao, Equal.Login"></component>
    <component id="Equal_Login_LoginUserSvc" type="Equal.Login.Svc.LoginUserSvc, Equal.Login"></component>

    <!--CommonUser-->
    <component id="Equal_Login_CommonUserDao" service="Equal.Login.IDao.ICommonUserDao, Equal.Login" type="Equal.Login.Dao.CommonUserDao, Equal.Login"></component>

    <!--Employee-->
    <component id="Equal_Login_EmployeeDao" service="Equal.Login.IDao.IEmployeeDao, Equal.Login" type="Equal.Login.Dao.EmployeeDao, Equal.Login"></component>

    <!--LoginSequence-->
    <component id="Equal_Login_LoginSequenceDao" service="Equal.Login.IDao.ILoginSequenceDao, Equal.Login" type="Equal.Login.Dao.LoginSequenceDao, Equal.Login"></component>

    <!--LoginSequence-->
    <component id="Equal_Login_LoginTokenDao" service="Equal.Login.IDao.ILoginTokenDao, Equal.Login" type="Equal.Login.Dao.LoginTokenDao, Equal.Login"></component>


  </components>

</configuration>