<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <components>

    <!--数据库帮助类-->
    <component id="Equal_CRUD_DaoHelper" service="Equal.CRUD.IDao.IDaoHelper, Equal.CRUD" type="#{daoHelperImpl}"></component>
    <!--Dao-->
    <component id="Equal_Login_LoginUserDao" service="Equal.Login.IDao.ILoginUserDao, Equal.Login" type="Equal.Login.Dao.LoginUserDao, Equal.Login"></component>


  </components>

</configuration>