<?xml version="1.0" encoding="utf-8" ?>
<sqlMaps>
  <!--LoginUser-->
  <sqlMap embedded="${EqualSqlMapPrefix}LoginUser.xml, Equal.Login"/>
  <!--CommonUser-->
  <sqlMap embedded="${EqualSqlMapPrefix}CommonUser.xml, Equal.Login"/>
  <!--Employee-->
  <sqlMap embedded="${EqualSqlMapPrefix}Employee.xml, Equal.Login"/>
  <!--LoginSequence-->
  <sqlMap embedded="${EqualSqlMapPrefix}LoginSequence.xml, Equal.Login"/>
  <!--LoginToken-->
  <sqlMap embedded="${EqualSqlMapPrefix}LoginToken.xml, Equal.Login"/>

</sqlMaps>