USE [DigiWeb]
GO
/****** Object:  Table [dbo].[BM_ArticleInfo]    Script Date: 2018.4.16 17:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BM_ArticleInfo](
	[Ai_Id] [bigint] NOT NULL,
	[Ai_Title] [nvarchar](200) NULL,
	[Ai_SubmitTime] [nvarchar](50) NULL,
	[Ai_SubmitUser] [nvarchar](50) NULL,
	[Ai_Context] [nvarchar](max) NULL,
	[Ai_Type] [int] NOT NULL CONSTRAINT [DF_BM_ArticleInfo_Ai_Type]  DEFAULT ((1)),
	[Ai_ClickCount] [int] NOT NULL CONSTRAINT [DF_BM_ArticleInfo_Ai_ClickCount]  DEFAULT ((0)),
	[Ai_RecordTime] [datetime] NOT NULL,
	[Ai_UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_BM_ArticleInfo] PRIMARY KEY CLUSTERED 
(
	[Ai_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BM_HomePageInfo]    Script Date: 2018.4.16 17:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BM_HomePageInfo](
	[Hpi_Id] [bigint] NOT NULL,
	[Hpi_Welcome] [nvarchar](200) NULL,
	[Hpi_List1Name] [nvarchar](50) NULL,
	[Hpi_List2Name] [nvarchar](50) NULL,
	[Hpi_List3Name] [nvarchar](50) NULL,
	[Hpi_List4Name] [nvarchar](50) NULL,
	[Hpi_Email] [nvarchar](50) NULL,
	[Hpi_Address] [nvarchar](50) NULL,
	[Hpi_Phone1] [nvarchar](50) NULL,
	[Hpi_Phone2] [nvarchar](50) NULL,
	[Hpi_CopyrightInfo] [nvarchar](1000) NULL,
	[Hpi_RecordTime] [datetime] NOT NULL,
	[Hpi_UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_BM_HomePageInfo] PRIMARY KEY CLUSTERED 
(
	[Hpi_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BM_KeyValue]    Script Date: 2018.4.16 17:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BM_KeyValue](
	[Kv_Id] [bigint] NOT NULL,
	[Kv_Key] [nvarchar](200) NULL,
	[Kv_Value] [nvarchar](max) NULL,
	[Kv_AdditionalData] [nvarchar](max) NULL,
	[Kv_RecordTime] [datetime] NOT NULL CONSTRAINT [DF_BM_KeyValue_Kv_RecordTime]  DEFAULT (getdate()),
	[Kv_UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_BM_KeyValue] PRIMARY KEY CLUSTERED 
(
	[Kv_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[BM_HomePageInfo] ([Hpi_Id], [Hpi_Welcome], [Hpi_List1Name], [Hpi_List2Name], [Hpi_List3Name], [Hpi_List4Name], [Hpi_Email], [Hpi_Address], [Hpi_Phone1], [Hpi_Phone2], [Hpi_CopyrightInfo], [Hpi_RecordTime], [Hpi_UpdateTime]) VALUES (170485076138655744, N'欢迎访问测试网站', N'列表1名称', N'列表2名称', N'列表3名称', N'列表4名称', N'test@test.com', N'测试地址', N'电话1', N'电话2', N'科捷物流权所有 Copyright © 2017 jobs.digitalchina.ourats.com All rights reserved. 京ICP备15035792号-1', CAST(N'2018-04-16 10:46:49.610' AS DateTime), CAST(N'2018-04-16 10:46:53.580' AS DateTime))
INSERT [dbo].[BM_KeyValue] ([Kv_Id], [Kv_Key], [Kv_Value], [Kv_AdditionalData], [Kv_RecordTime], [Kv_UpdateTime]) VALUES (170183582927552512, N'Nav', N'测试导航1', N'../pages/index.aspx', CAST(N'2018-04-15 14:48:48.033' AS DateTime), NULL)
INSERT [dbo].[BM_KeyValue] ([Kv_Id], [Kv_Key], [Kv_Value], [Kv_AdditionalData], [Kv_RecordTime], [Kv_UpdateTime]) VALUES (170183605371273216, N'Nav', N'测试导航2', N'../pages/about.aspx', CAST(N'2018-04-15 14:48:53.377' AS DateTime), NULL)
INSERT [dbo].[BM_KeyValue] ([Kv_Id], [Kv_Key], [Kv_Value], [Kv_AdditionalData], [Kv_RecordTime], [Kv_UpdateTime]) VALUES (170188998046646272, N'Nav', N'测试导航4', N'../pages/advertise.aspx', CAST(N'2018-04-15 15:10:19.097' AS DateTime), NULL)
