* {
    margin: 0;
    padding: 0;
}
a {
    color: #00007f;
    text-decoration: none;
}
a:hover {
    color: #bd0a01;
    text-decoration: underline;
}
body {
    font-size: 14px;
    font-family: "微软雅黑";
    background: #f9f9f9;
}
.login-container {
    margin: 140px auto 0;
    width: 320px;
}
.login-container h1 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15px;
}
.login-form-container {
    box-shadow: 1px 2px 3px #cccccc;
    border: 1px solid #eeeeee;
    background: #ffffff;
    padding: 0 5px 15px;
    overflow: hidden;
}
.login-form {
    margin: 15px auto 0;
    width: 280px;
}
.login-form li {
    line-height: 28px;
    margin-bottom: 5px;
    list-style: none;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input[type=text],
.login-form input[type=password] {
    border: 1px solid #e6e6e6;
    padding: 3px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    border-radius: 5px;
    transition-duration: 0.3s;
    width: 270px;
}
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    background: #f8f8f8;
}
.login-form input[type=submit] {
    display: inline-block;
    *display: inline;
    padding: 12px 12px;
    margin-bottom: 5px;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    background-color: #006dcc;
    *background-color: #0044cc;

    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
}
.login-form input[type=submit]:hover,
.login-form input[type=submit]:active {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
    background-position: 0 -15px;
}
.login-footer {
    color: #585858;
    margin-top: 10px;
    text-align: center;
}
.login-footer a { color: #ff9900; }
.login-footer a:hover { color: #ff9900; }
